*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

.box{
    width: 100%;
    max-width: 400px;
    background-color: aliceblue;
    padding: 2.5rem;
}

.box h2{
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: purple;
}

.box input{
    padding: 5px  12px;
    margin-right: 10px;
    outline: none;
    border: .5px  solid purple
}

.box i{
    color: purple;
    font-size: 20px;
    cursor: pointer;
}